@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Of_Birth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Of_Birth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Market_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Market_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Current_Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Current_Club)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success role" button">Edit</a>
    <a asp-action="Index" class="btn btn-primary role="button">Back To Home</a>
</div>
