@{
    ViewData["Title"] = "Employee List";
}

<h1>Employee List</h1>
<div class="col-6">
    <a class="btn btn-primary mt-2 mb-2" asp-controller="Employee" asp-action="Create">Add new employee</a>
</div>
<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <th>
        ID
    </th>
    <th>Name</th>
    <th>
        Department
    </th>
    <th>Salary</th>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.Department</td>
                <td>@obj.Salary</td>
                <td>
                    <a class="btn btn-primary mt-2 mb-2" asp-controller="Employee" asp-action="GetDetails" asp-route-id="@obj.Id">Get Details</a>
                </td>
            </tr>

        }
    </tbody>
</table>
